@if(seats && venue){
<app-seating-plan #seatingPlan (selectedSectionChange)="onSelectedSectionChange($event)" [venue]="venue"
  [seats]="seats">
</app-seating-plan>
}
@else{
loading
}
<button mat-stroked-button color="primary"(click)="openCreationForm()">batch create</button>
<button mat-stroked-button color="primary"(click)="openDeletationForm()">batch delete</button>
<form [formGroup]="optionForm">
  <mat-form-field>
    <mat-label>Order (ascending)</mat-label>
    <mat-select formControlName="horizontalOrder" required>
      <mat-option value="LTR">Left to right</mat-option>
      <mat-option value="RTL">Right to left</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Verticle Order (ascending)</mat-label>
    <mat-select formControlName="verticleOrder" required>
      <mat-option value="TTB">Top to bottom</mat-option>
      <mat-option value="BTT">Bottom to top</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Thumb Image URL</mat-label>
    <input matInput formControlName="thumbImageURL" required>
    @if (optionForm.controls['thumbImageURL'].hasError('required')) {
    <mat-error>This field is required</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Full Image URL</mat-label>
    <input matInput formControlName="fullImageURL" required>
    @if (optionForm.controls['fullImageURL'].hasError('required')) {
    <mat-error>This field is required</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Seat Align</mat-label>
    <mat-select formControlName="seatAlign">
      <mat-option value="start">Left</mat-option>
      <mat-option value="end">Right</mat-option>
      <mat-option value="center">Center</mat-option>
      <mat-option value="">Padding</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-stroked-button color="primary"(click)="submitSectionOption()">update</button>
</form>
