<div style="flex-direction: row; display: flex;">
  <div style="flex: 1">
    <div style="flex-direction: row; display: flex;">
      <mat-form-field style="flex: 1">
        <mat-label>Venue section</mat-label>
        <mat-select [(ngModel)]="selectedSection" (selectionChange)="selectedSection = $event.value;render();setRoute()"
          [compareWith]="compareSection">
          @for(section of venue.sections; track section){
          <mat-option [value]="section">{{section.x}}-{{section.y}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-chip-listbox style="flex: 1">
        @for( priceTier of priceTiers; track priceTier){
        <mat-chip [style.background-color]="priceTier._id?'#'+priceTiersColors.get(priceTier._id):''">
          {{priceTier.tierName}}:{{priceTier.price}}</mat-chip>
        }
      </mat-chip-listbox>
    </div>
    <mat-list>
      @if(this.selectedSection?.options.seatAlign){
      }
      @else{
      <mat-list-item cdkDropList cdkDropListOrientation="horizontal">
        <button mat-stroked-button color="primary" style="pointer-events: none;"></button>
        @for(col of cols; track col){
        <button mat-stroked-button color="primary" style="pointer-events: none;">{{col}}</button>
        }
      </mat-list-item>
      }
      @for(row of rows; track row){
      <mat-list-item cdkDropList cdkDropListOrientation="horizontal"
        [style.text-align]="this.selectedSection?.options.seatAlign">
        <button mat-button style="pointer-events: none;">{.row()}}</button>
        @for(col of cols; track col){
        @if (getSeat(row,col) && isSeatInSelectSection(row, col)) {
        <button (click)="toggleSelect(getSeat(row,col))" mat-stroked-button
          [style.background-color]="getTiceket(row,col)?getColorByTicket(getTiceket(row,col)):'grey'" cdkDrag
          [cdkDragDisabled]="!seatingPlanEditing" [matTooltip]="row+col">
          @if (getTiceket(row,col)){
          @if(getBuyer(row,col)){
          <mat-icon [fontIcon]="isSeatSelected(getSeat(row,col)?._id)?'check_circle':'airline_seat_recline_normal'">
          </mat-icon>
          }
          @else{
          <mat-icon [fontIcon]="isSeatSelected(getSeat(row,col)?._id)?'check_circle':'event_seat'"></mat-icon>
          }
          }
          @else{
          <mat-icon
            [fontIcon]="isSeatSelected(getSeat(row,col)?._id)?'check_circle':isTicketPlanning?'block':'event_seat'">
          </mat-icon>
          }
        </button>
        }
        @else if(this.selectedSection?.options.seatAlign){
        }
        @else{
        <button mat-stroked-button color="primary" style="background-color: transparent" cdkDrag
          [cdkDragDisabled]="seatingPlanEditing" disabled>
        </button>
        }
        }
      </mat-list-item>
      }
    </mat-list>
  </div>
  @if(selectedSection?.options?.thumbImageURL && selectedSection?.options?.fullImageURL){
  <div style="flex: 1">
    <lib-ngx-image-zoom zoomMode="click" [enableScrollZoom]="true"
      [thumbImage]="selectedSection?.options?.thumbImageURL" [fullImage]="selectedSection?.options?.fullImageURL">
    </lib-ngx-image-zoom>
  </div>
  }
</div>
