@if(data.selectedSeatIds){
{{data.selectedSeatIds.length }} seat{{data.selectedSeatIds.length >1? 's':''}} selected

@if(doing){
<mat-spinner></mat-spinner>
}
@else{
<span matSnackBarActions style="color: white">
  @for( priceTier of data.priceTiers; track priceTier){
  <button mat-button matSnackBarAction
    [style.background-color]="priceTier._id?'#'+data.priceTiersColors?.get(priceTier._id):''"
    (click)="sellAt(priceTier)" [disabled]="doing">
    {{priceTier.tierName}}:{{priceTier.price}}</button>
  }
  <button mat-button matSnackBarAction (click)="removeTickets()" [disabled]="doing">
    cancel selling
  </button>
</span>
}
}
