<button mat-icon-button style="margin-left: auto" (click)="close()">
  <mat-icon>close</mat-icon>
</button>
<mat-dialog-content>
  <form [formGroup]="eventForm">
    <mat-form-field>
      <mat-label>Event Name</mat-label>
      <input matInput formControlName="eventname" required>
      @if (eventForm.controls['eventname'].hasError('required')) {
      <mat-error>This field is required</mat-error>
      }
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Event Time</mat-label>
      <input matInput type="datetime-local" formControlName="datetime" required>
      @if (eventForm.controls['datetime'].hasError('required')) {
      @if(eventForm.controls["datetime"].value == null){
      <mat-error>This field is required</mat-error>
      }
      @else{
      <mat-error>Invalid date / time</mat-error>
      }
      }
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Duration</mat-label>
      <input matInput formControlName="duration" required>
      @if (eventForm.controls['duration'].hasError('required')) {
      <mat-error>This field is required</mat-error>
      }
      @if (eventForm.controls['duration'].hasError('min')) {
      <mat-error>Price should be positive</mat-error>
      }
      @if (eventForm.controls['duration'].hasError('pattern')) {
      <mat-error>Price should be a number</mat-error>
      }
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>1st round start selling ticket at</mat-label>
      <input matInput type="datetime-local" formControlName="startFirstRoundSellDate" required>
      @if (eventForm.controls['startFirstRoundSellDate'].hasError('required')) {
      @if(eventForm.controls["startFirstRoundSellDate"].value == null){
      <mat-error>This field is required</mat-error>
      }
      @else{
      <mat-error>Invalid date / time</mat-error>
      }
      }
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>1st round end selling at</mat-label>
      <input matInput type="datetime-local" formControlName="endFirstRoundSellDate" required>
      @if (eventForm.controls['endFirstRoundSellDate'].hasError('required')) {
      @if(eventForm.controls["endFirstRoundSellDate"].value == null){
      <mat-error>This field is required</mat-error>
      }
      @else{
      <mat-error>Invalid date / time</mat-error>
      }
      }
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>2nd round start selling ticket at</mat-label>
      <input matInput type="datetime-local" formControlName="startSecondRoundSellDate" required>
      @if (eventForm.controls['startSecondRoundSellDate'].hasError('required')) {
      @if(eventForm.controls["startSecondRoundSellDate"].value == null){
      <mat-error>This field is required</mat-error>
      }
      @else{
      <mat-error>Invalid date / time</mat-error>
      }
      }
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>2nd round end selling at</mat-label>
      <input matInput type="datetime-local" formControlName="endSecondRoundSellDate" required>
      @if (eventForm.controls['endSecondRoundSellDate'].hasError('required')) {
      @if(eventForm.controls["endSecondRoundSellDate"].value == null){
      <mat-error>This field is required</mat-error>
      }
      @else{
      <mat-error>Invalid date / time</mat-error>
      }
      }
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Shopping cart size</mat-label>
      <input matInput formControlName="shoppingCartSize" required>
      @if (eventForm.controls['shoppingCartSize'].hasError('required')) {
      <mat-error>Quota field is required</mat-error>
      }
      @if (eventForm.controls['shoppingCartSize'].hasError('pattern')) {
      <mat-error>Quota should be a number</mat-error>
      }
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>First round ticket quota</mat-label>
      <input matInput formControlName="firstRoundTicketQuota" required>
      @if (eventForm.controls['firstRoundTicketQuota'].hasError('required')) {
      <mat-error>This field is required</mat-error>
      }
      @if (eventForm.controls['firstRoundTicketQuota'].hasError('pattern')) {
      <mat-error>Quota should be a number</mat-error>
      }
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Second round ticket quota</mat-label>
      <input matInput formControlName="secondRoundTicketQuota" required>
      @if (eventForm.controls['secondRoundTicketQuota'].hasError('required')) {
      <mat-error>This field is required</mat-error>
      }
      @if (eventForm.controls['secondRoundTicketQuota'].hasError('pattern')) {
      <mat-error>Quota should be a number</mat-error>
      }
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Venue</mat-label>
      <mat-select formControlName="venueId" required>
        @for (venue of data.venues; track venue) {
        <mat-option [value]="venue._id">{{venue?.venuename}}</mat-option>}
      </mat-select>
      @if (eventForm.controls['datetime'].hasError('required')) {
      <mat-error>This field is required</mat-error>
      }
    </mat-form-field>
    <br>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button (click)="submit()">{{data.event._id?"update":"create"}}</button>
</mat-dialog-actions>
