@if(data.tickets){
{{data.tickets.length }} ticket{{data.tickets.length >1? 's':''}}
selected &#40;up to {{limit}}&#41;
(cost: {{totalCost()}})
<span matSnackBarActions style="color: white">
  <button matSnackBarAction style="color: white" mat-stroked-button color="primary" (click)="buy()" [disabled]="doing">
    @if(doing){
    <mat-spinner></mat-spinner>
    }
    @else{buy
    }
  </button>
  <button matSnackBarAction style="color: red" color="warning" mat-stroked-button (click)="
  snackRef.dismiss()"> cancel
  </button>
</span>
}
<br>
@if(data.seatInfo && data.seatInfo.length > 0){
seats that is not in this section: {{data.seatInfo.join(", ")}}
}
