<mat-form-field style="width: 100%">
  <mat-label>Filter (possible to use '+' for combination)</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>
@if (!loaded){
loading
}
@else if(eventDataSource.data.length == 0){
no data
}
<table mat-table [dataSource]="eventDataSource" matSort>
  <ng-container matColumnDef="eventname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.eventname}} </td>
  </ng-container>
  <ng-container matColumnDef="datetime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Start </th>
    <td mat-cell *matCellDef="let element"> {{element.datetime | date : 'short'}} </td>
  </ng-container>
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> End </th>
    <td mat-cell *matCellDef="let element"> {{element.datetime | datetimeOffset: element.duration | date : 'short'}}
    </td>
  </ng-container>
  <ng-container matColumnDef="venue.venuename">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Venue Name </th>
    <td mat-cell *matCellDef="let element"> {{element.venue?.venuename}} </td>
  </ng-container>
  <ng-container matColumnDef="_id">
    <th mat-header-cell *matHeaderCellDef> Buy Ticket </th>
    <td mat-cell *matCellDef="let element">
      <a mat-stroked-button color="primary"[routerLink]="['/buy-ticket', { id: element._id }]">
        <mat-icon>event_seat</mat-icon>
        <mat-icon>shopping_cart</mat-icon>
      </a>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="eventDataColumn"></tr>
  <tr mat-row *matRowDef="let row; columns: eventDataColumn;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
