<mat-form-field style="width: 100%">
  <mat-label>Filter (possible to use '+' for combination)</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>
@if (!loaded){
<mat-spinner></mat-spinner>
}
@else if(showDataSource.data.length == 0){
no data
}
<table mat-table [dataSource]="showDataSource" matSort>
  <ng-container matColumnDef="eventname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.eventname}} </td>
  </ng-container>
  <ng-container matColumnDef="datetime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Start </th>
    <td mat-cell *matCellDef="let element"> {{element.datetime | date : 'short'}} </td>
  </ng-container>
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> End </th>
    <td mat-cell *matCellDef="let element"> {{element.datetime | datetimeOffset: element.duration | date : 'short'}}
    </td>
  </ng-container>
  <ng-container matColumnDef="isSelling">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Selling </th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox [matTooltip]="showSellingString(element)" readonly [checked]="isShowSelling(element)"
        (click)="$event.preventDefault()"></mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="venue.venuename">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Venue Name </th>
    <td mat-cell *matCellDef="let element"> {{element.venue?.venuename}} </td>
  </ng-container>
  <ng-container matColumnDef="_id">
    <th mat-header-cell *matHeaderCellDef>Manage</th>
    <td mat-cell *matCellDef="let element">
      <a mat-stroked-button color="primary"[routerLink]="['/event-seats', { id: element._id }]">
        <mat-icon>event_seat</mat-icon>
        <mat-icon>edit</mat-icon>
      </a>
      <button mat-stroked-button color="primary"(click)="openForm({event: element, venues: venues})">Edit</button>
      <button mat-stroked-button color="primary"(click)="delete(element._id)" color="warn">Delete</button>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="showDataColumn"></tr>
  <tr mat-row *matRowDef="let row; columns: showDataColumn;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
<mat-card-actions><button mat-stroked-button color="primary"(click)="openForm({event: {},venues: venues})">Create</button>
</mat-card-actions>
