
<form [formGroup]="passwordForm">
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" required>
      @if (passwordForm.controls['password'].hasError('required')) {
      <mat-error>This field is required</mat-error>
      }
    </mat-form-field>
    <br>
  
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input matInput formControlName="confirmPassword" type="password" required>
      @if (passwordForm.controls['confirmPassword'].hasError('required')) {
      <mat-error>This field is required</mat-error>
      }
      @if (passwordForm.controls['confirmPassword'].hasError('confirmPasswordMissmatch')) {
      <mat-error>This does not match with the password</mat-error>
      }
    </mat-form-field>
  </form>
  <button mat-flat-button (click)="reset()">Change Password</button>