<button mat-icon-button style="margin-left: auto" (click)="close()">
  <mat-icon>close</mat-icon>
</button>
<mat-card>
  <mat-card-header>{{ticket.event?.eventname}} {{ticket.seat?.row}}{{ticket.seat?.no}}</mat-card-header>
  <mat-card-content>
    {{ticket.occupant?.fullname}} ({{ticket.occupant?.username}})
    <br>
    Email: {{ticket.occupant?.email}}
    <form [formGroup]="ticketForm">
      <mat-radio-group formControlName="securedBy">
        <mat-radio-button value=""></mat-radio-button>
        <mat-radio-button value="fps">FPS</mat-radio-button>
        <mat-radio-button value="payme">PayMe</mat-radio-button>
        <mat-radio-button value="wechatpay">WechatPay</mat-radio-button>
        <mat-radio-button value="alipay">AliPay</mat-radio-button>
        <mat-radio-button value="free">Free</mat-radio-button>
      </mat-radio-group>
      <br>
      <mat-form-field>
        <mat-label>Remark</mat-label>
        <textarea matInput formControlName="remark"></textarea>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    @if(!(ticketForm.controls['securedBy'].value || ticketForm.controls['remark'].value)){
    <button mat-button color="warn" (click)="voidTicket()">void</button>}
    <button mat-button (click)="submit()">update</button>
  </mat-card-actions>
</mat-card>
