<div style="display: flex; flex-direction: row;">
  <div>
    <label>Select a payment method</label>
    <mat-radio-group [(ngModel)]="view" style=" display: flex;
    flex-direction: column;">
      <mat-radio-button value="fps">fps</mat-radio-button>
      <mat-radio-button value="payme">payme</mat-radio-button>
      <mat-radio-button value="alipay">alipay</mat-radio-button>
    </mat-radio-group>
  </div>
  @if(view=="fps"){

  <img style="margin-left: auto; margin-right: auto; width: 30%; display: block;" src="./assets/fps.jpg">
  }
  @else if(view=="payme"){
  <img style="margin-left: auto; margin-right: auto; width: 30%; display: block;" src="./assets/payme.jpg">

  }
  @else if(view=="alipay"){
  <img style="margin-left: auto; margin-right: auto; width: 30%; display: block;" src="./assets/alipay.jpg">
  }
</div>
