<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>account_balance</mat-icon>
      bank
    </ng-template>
    <img style="margin-left: auto; margin-right: auto; width: 30%; display: block;"
      src="https://upload.wikimedia.org/wikipedia/commons/d/d0/QR_code_for_mobile_English_Wikipedia.svg">
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">savings</mat-icon>
      payme
    </ng-template>
    <img style="margin-left: auto; margin-right: auto; width: 30%; display: block;"
      src="https://upload.wikimedia.org/wikipedia/commons/d/d0/QR_code_for_mobile_English_Wikipedia.svg">
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">account_balance_wallet</mat-icon>
      wallet
    </ng-template>
    <img style="margin-left: auto; margin-right: auto; width: 30%; display: block;"
      src="https://upload.wikimedia.org/wikipedia/commons/d/d0/QR_code_for_mobile_English_Wikipedia.svg">
  </mat-tab>
</mat-tab-group>
