<mat-toolbar>HK City Choir Ticketing
  <span style="flex: 1 1 auto;"></span>
  <button mat-button *ngIf="userSession.user" [routerLink]="['/']">Events</button>
  <button mat-button *ngIf="userSession.user" [routerLink]="['/myticket']">My Ticket</button>
  <button mat-button *ngIf="userSession.user?.hasAdminRight" [routerLink]="['/management']">Management Panel</button>
  <span style="flex: 1 1 auto;"></span>
  <button mat-button [matMenuTriggerFor]="userSession.user?userMenu:null"
    (click)="userSession.user?null:loginOrRegister()">{{userSession.user?userSession.user.username:'login/register'}}</button>
</mat-toolbar>
<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="api.user.logout()">Logout</button>
  <button mat-menu-item>Profile</button>
</mat-menu>
<router-outlet></router-outlet>
