<mat-toolbar>HK City Choir Ticketing
  <span style="flex: 1 1 auto;"></span>
  <a mat-flat-button *ngIf="userSession.user" [routerLink]="['/']"
    [color]="router.isActive('/', true)?'accent':''">Events</a>
  <a mat-flat-button *ngIf="userSession.user" [routerLink]="['/my-ticket']"
    [color]="router.isActive('/my-ticket', false)?'accent':''">My Ticket</a>
  <a mat-flat-button *ngIf="userSession.user?.hasAdminRight" [routerLink]="['/management']"
    [color]="router.isActive('/management', false)?'accent':''">Management Panel</a>
  <span style="flex: 1 1 auto;"></span>
  <button mat-flat-button [matMenuTriggerFor]="userSession.user?userMenu:null"
    (click)="userSession.user?null:loginOrRegister()">{{userSession.user?userSession.user.username:'login/register'}}</button>
</mat-toolbar>
<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="api.user.logout()">Logout</button>
  <button mat-menu-item [routerLink]="['/profile']">Profile</button>
</mat-menu>
<router-outlet></router-outlet>
