<form [formGroup]="loginForm">
  <mat-form-field>
    <mat-label>Username (for login)</mat-label>
    <input matInput formControlName="username" required>
    @if (loginForm.controls['username'].hasError('required')) {
    <mat-error>This field is required</mat-error>
    }
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" [type]="passwordVisible?'text':'password'" required>
    <mat-icon matSuffix (click)="passwordVisible=!passwordVisible">{{passwordVisible?'visibility_off':'visibility'}}</mat-icon>
    @if (loginForm.controls['password'].hasError('required')) {
    <mat-error>This field is required</mat-error>
    }
  </mat-form-field>

</form>
<button mat-stroked-button color="primary"(click)="login()">login</button>
