<button mat-icon-button style="margin-left: auto" (click)="close()">
  <mat-icon>close</mat-icon>
</button>
<mat-dialog-content>
  <mat-tab-group style="width: 50vw; height: 40vh;">
    <mat-tab label="Login">
      <app-login-form (logined)="dialogRef.close()"></app-login-form>
    </mat-tab>
    <mat-tab label="Forget Password">
      <app-forget-form ></app-forget-form>
    </mat-tab>
    <!-- <mat-tab label="Register">
      <app-register-form (logined)="dialogRef.close()"></app-register-form>
    </mat-tab> -->
  </mat-tab-group>
</mat-dialog-content>
