@if(userSession.user && userSession.user._id != undefined && userSession.user._id != _userId ){
this payment information is not about your account
}
@else if (!loaded){
loading
}
@else if(ticketDataSource.data.length == 0){
no data
}
<h1>
  Event:
  @for(eventname of summary.events; track eventname; let i = $index){
  {{eventname}}{{summary.events.size != 1 && i!=summary.events.size -1?', ':''}}
  <br>
  }
</h1>
<p>Total cost: {{summary.price}}</p>
<app-payment-message></app-payment-message>
<table mat-table [dataSource]="ticketDataSource" matSort>
  <ng-container matColumnDef="seat">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Seat </th>
    <td mat-cell *matCellDef="let element">
      {{element.seat.row}}{{element.seat.no}}
    </td>
  </ng-container>
  <ng-container matColumnDef="priceTier.price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.priceTier.price}} </td>
  </ng-container>
  <ng-container matColumnDef="priceTier.tierName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tier </th>
    <td mat-cell *matCellDef="let element"> {{element.priceTier.tierName}} </td>
  </ng-container>
  <ng-container matColumnDef="securedBy">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticket confirmed </th>
    <td mat-cell *matCellDef="let element"> {{element.securedBy}} </td>
  </ng-container>
  <ng-container matColumnDef="remark">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Confirmation remark </th>
    <td mat-cell *matCellDef="let element"> {{element.remark}}
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="ticketDataColumn"></tr>
  <tr mat-row [class.strikethrough]="row.belongsToUser == false" *matRowDef="let row; columns: ticketDataColumn;"></tr>
</table>
